# Build and Distribution
dist/

# .NET
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/

# Project Specific
*.SM
!ans.pdf
!119003B14.pdf
!學科/*.pdf
!test.pdf

# Temporary files
.gemini/
*.tmp
TestReports/
Screenshots/
**/Screenshots/
